@mixin flex-row-betwwen {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
}
@mixin flex-row-be {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}

$font-jua:'jua', sans-serif;

header {
    position:fixed; left:0; top:0; z-index:999;
    background:rgba(225,225,225,0.5); height:100px;
    width:100%; padding:0 15px;
    @include flex-row-betwwen;
    h1 { 
        width:150px;
        a {img{width:100%;}}
    }
    .right {
        @include flex-row-betwwen;
        .app {
            font-family:$font-jua;
            border:3px solid #fff; border-radius:20px;
            padding:15px 25px; font-weight:700;
            margin-right:20px;
        }
        .all_nav {
            span {
                margin:5px 0; display:block;
                width:30px; height:5px;
                border-radius:5px;
                background:#fff;
            }
            span:nth-child(1) {}
            span:nth-child(2) {margin:5px 0;}
            span:nth-child(3) {}
        }
    }
} // end:header
main {
    .bnr {
        overflow:hidden; height:100vh; position:relative;
        .container {
            z-index:110;
            position:relative; padding-top:300px;
            text-align:center; color:#fff; 
            h1 {font-size:3rem; font-family:$font-jua;}
            p {margin:20px 60px;}
            h1, p, .btn {line-height:1.5;}
            .btn {
                background:#fff; margin-top:50px;
                padding:17px 100px; font-family:$font-jua;
                border-radius:30px; font-size:1.125rem;
            }
        }
        video {position:absolute;
            // transform:translateX(-50%);
            transform:translate(-50%, 0);
            left:50%; top:0; z-index:100;
            width:130%; 
        }
        .page_down {
            position:absolute; z-index:110; text-align:center;
            left:0; bottom:100px; width:100%;
        }
    } 
    .bnr::after {
        background:linear-gradient(0deg, rgba(0,0,0,0.5), transparent); content:''; display:block;
        width:100%; height:100%;
        position:absolute; left:0; top:0; z-index:105;
    } //bnr-end
    .event_wrap {
        background:#fff; width:1200px; margin:0 auto;
        padding:50px 0;
        h1 {font-family:$font-jua;} 
        p {}
        .more {
            font-family:$font-jua;
            img {}
        }
        .slide_wrap {
            .slide_container {display:grid;
                grid-template-columns:repeat(3,1fr);
                grid-template-rows:300px;
                margin:100px 0;
                .slide1 {background:#ffe552 url(../images/event_image_0_20221028085348_35465.png);}
                .slide2 {
                    background:#b2e9de url(../images/event_image_0_20221028085704_61822.png);
                    margin:0 5px;
                }
                .slide3 {
                    background:#ffcfd8 url(../images/event_image_3_20221105015010_49282.png);
                }
                .slide {
                    background-repeat:no-repeat;
                    background-size:70%;
                    background-position:right bottom;
                    padding:30px; border-radius:20px;
                    position:relative;
                    h1 {font-size:1.875rem; line-height:1.5;}
                    p {}
                    .more {
                        width:30px; display:block;
                        position:absolute; bottom:50px;
                        img {width:100%;}
                    }
                }
            }//e:sld_container
        }//e:sld_wrap
    }//e:event_wrap
    #intro_wrap {
        background:lightblue; width:1200px; margin:0 auto;
        padding:100px 0;
        h1 {font-family:$font-jua;}
        p {}
        .more {
            font-family:$font-jua;
            img{}
        }
        .menu_wrap {
            .menu_container {
                display:grid;
                grid-template-columns:repeat(5,1fr);
                grid-template-rows:300px;
                margin:100px 0;
                .menu > h2 {
                    font-family:$font-jua;
                    padding:10px; border-radius:50px;
                    display:inline-block;
                }
                .menu1 {
                    background:url(../images/thumbnail_image_1_20221104060651_67302.jpeg) center;
                    h2 {background-color:#ffcfd8;}
                    .play {
                        img{}
                    }
                }
                .menu2 {
                    background:url(../images/thumbnail_image_2_20221104060915_64092.jpeg) center;
                    h2 {background-color:#b2e9de;}
                    .play {img{}}
                }
                .menu3 {
                    background:url(../images/thumbnail_image_3_20221104060928_38608.jpeg) center;
                    h2 {background-color:#ffe552;}
                    .play {img{}}
                }
                .menu4 {
                    background:url(../images/thumbnail_image_4_20221104060946_71750.jpeg) center;
                    h2 {background-color:#b2e9de;}
                    .play {img{}}
                }
                .menu5 {
                    background:url(../images/thumbnail_image_5_20221104060955_15559.jpeg) center;
                    h2 {background-color:antiquewhite;}
                    .play {img{}}
                }
                .menu:nth-child(5) {margin:0;}
                .menu {
                    background-repeat:no-repeat;
                    background-size:100%;
                    padding:30px; border-radius:20px;
                    margin-right:15px;
                }
            }
        }
    }
    .event_wrap > h1,
    #intro_wrap > h1 {
        font-size:2.5rem; line-height:1.5;
        margin:20px 0;
    }
    .event_wrap > p,
    #intro_wrap > p {
        margin-bottom:20px;
    }
} //end:main
